/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: white;
  font-family: 'Raleway', sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* styles */
  background: url("/images/bg-mobile.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

/* styles */
.wrapper{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px sienna solid;
}

.cont{
  width: 80%;
  background-color: hsl(228, 56%, 26%);
  height: 152px;
}

.cont-1{
  margin-top: 1rem;
  border-top-right-radius: 5rem;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  min-width: 170px;
}

.logo{
  /* border: 1px solid gold; */
  width: 70%;
  margin-left: 2rem;
  display: grid;
  align-content: center;
}

.logo img{
  width: 110px;
}

.docs{
  /* border: 1px solid sienna; */
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 70%;
}
.docs a{
  background-color: hsl(229, 57%, 11%);
  display: inline-block;
  height: 20px;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.docs a img{
  height: 17px;
}
/* cont-1 */

.cont-2{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
}
.cont-2-p{
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
}

.cont-2-p span{
  font-weight: 700;
}

.bar{
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(229, 57%, 11%);;

}

.bar2{
  height: 8px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  width: 80%;
}

.bar2 ,.bar{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.num{
  display: flex; 
  font-size: 0.6rem;
}

.num1{
  flex: 1;
}

.cont-2 > *{
  width: 80%;
  margin: 0.3rem 0;
}

.white{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  /*align-items: center;
  */top: 70%;
  width: 40%;
  padding: 0.8rem;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
} 

.white p,.white p span{
  color: black;
  font-size: 0.9rem;
}

.white p{
  font-size: 30px;
  /* margin: 0 auto; */
  font-weight: 700;
  display: flex;
  align-items: center;
}

.white p span{
  /* margin: 0 auto; */
  font-size: 9.5px;
  font-weight: 400;
}

/* - Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%) */


/* media queries */

@media (min-width:768px) {
  .cont{
    border: 1px solid;
  }
 .wrapper{
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: auto;
   width: 80%;
   max-width: 900px;
 }

 .white{
  top: -36%;
  left: 70%;
  width: 20%;
 }

 .cont-2{
  align-self: end;
  width: 100%;
 }

 .cont-2-p{
  text-align: start;
}
  
}